@use '@/app/ui/styles/helper';

.accordion {
	cursor: pointer;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2.5rem;
		border: 0.125rem solid helper.$lightSilver;
		padding: 1rem 2rem;

		@include helper.borderRadius(2rem);
		@include helper.transition();

		&:hover {
			border-color: helper.$accentColor;
		}

		&--active {
			border-color: helper.$accentColor;
			border-bottom: none;

			@include helper.borderRadius(2rem, 2rem, 0, 0);
		}
	}

	&__icon {
		color: helper.$title;
	}

	&__question {
		color: helper.$title;
		font-size: 0.9rem;
		font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
		line-height: 1.5;
		font-weight: 600;
	}

	&__content {
		max-height: 0;
		overflow: hidden;
		cursor: default;

		@include helper.transition(max-height, 0.5s, cubic-bezier(0, 1, 0, 1));

		&--active {
			max-height: 9999rem;
			height: auto;

			@include helper.transition(
				max-height,
				0.5s,
				cubic-bezier(1, 0, 1, 0)
			);
		}
	}

	&__answer {
		color: helper.$subtitle;
		font-size: 0.9rem;
		font-size: clamp(0.9rem, 0.88rem + 0.09999999999999998vw, 1rem);
		line-height: 1.5;
		padding: 1rem 2rem 1.5rem;
		border: 0.125rem solid helper.$accentColor;
		border-top: none;
		white-space: pre-wrap;
		overflow-wrap: anywhere;

		@include helper.borderRadius(0, 0, 2rem, 2rem);

		& > a {
			color: helper.$blue;
		}
	}
}

@media (max-width: 48em) {
	.accordion {
		&__item {
			gap: 1rem;
		}
	}
}
