@use '@/app/ui/styles/helper';

.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		font-size: 1.1rem;
		font-size: clamp(1.1rem, 0.9600000000000001rem + 0.7vw, 1.8rem);
		font-weight: 600;
		color: helper.$subtitle;
	}
}
