@use '@/app/ui/styles/helper';

.sidebar {
	position: sticky;
	top: 0;
	left: 0;
	width: 5.5rem;
	height: 100vh;
	border-right: 0.0625rem solid helper.$lightSilver;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__menu {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__logo {
		width: 3rem;
		margin: 1rem;
	}
}
