@use '@/app/ui/styles/helper';

.nothing-found {
	width: 100%;
	margin: 3rem 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	&__image {
		display: block;
		max-width: 100%;
		width: 20rem;
	}

	&__title {
		font-size: 0.9rem;
		font-size: clamp(
			0.9rem,
			0.8400000000000001rem + 0.29999999999999993vw,
			1.2rem
		);
		text-align: center;
		color: helper.$title;
		line-height: 1.5;
		font-weight: 600;
	}
}
