@use '@/app/ui/styles/helper';

.title {
	margin: 0 1.5rem;

	&__main-text {
		font-size: 1.5rem;
		font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
		color: helper.$title;
		line-height: 1.5;
		margin-top: 1.5rem;
	}
}
