@use '@/app/ui/styles/helper';

.container {
	display: grid;
	grid-template-columns: minmax(15rem, 2fr) 3fr;
	justify-content: space-between;
	align-items: center;
	margin-top: 7rem;

	@extend %container;
}

.explanation {
	&__title {
		color: helper.$title;
		font-size: 2rem;
		font-size: clamp(2rem, 1.94rem + 0.2999999999999998vw, 2.3rem);
		line-height: 1.4;

		&::after {
			content: '';
			display: block;
			height: 0.25rem;
			width: 7rem;
			background-color: helper.$accentColor;
			margin: 1rem 0 2rem;
		}
	}

	&__description {
		color: helper.$subtitle;
		font-size: 0.9rem;
		font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
		line-height: 1.8;
	}

	&__image {
		display: block;
		max-width: 100%;
		width: 21rem;
	}
}

@media (max-width: 64em) {
	.explanation {
		&__title {
			&::after {
				margin: 1rem auto 2rem;
			}
		}

		&__image {
			display: none;
		}
	}
	.container {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

@media (max-width: 26.5625em) {
	.container {
		margin-top: 5rem;
	}
}
