@use '@/app/ui/styles/helper';

.container {
	display: grid;
	grid-template-columns: minmax(15rem, 2fr) 3fr;
	justify-content: space-between;
	align-items: center;
	margin-top: 7rem;

	@extend %container;
}

.explanation {
	&__title {
		color: helper.$title;
		font-size: 2.3rem;
		line-height: 1.4;

		&::after {
			content: '';
			display: block;
			height: 0.25rem;
			width: 7rem;
			background-color: helper.$accentColor;
			margin: 1rem 0 2rem;
		}
	}

	&__description {
		color: helper.$subtitle;
		font-size: 1.1rem;
		line-height: 1.8;
	}

	&__image {
		display: block;
		max-width: 100%;
		width: 21rem;
	}
}
