@use '@/app/ui/styles/helper';

.text {
	margin-top: 2rem;
	font-size: 1.3rem;
	color: helper.$title;
	text-align: center;
	line-height: 1.5;
}

.link {
	color: helper.$accentColorDark;
	text-decoration: underline;
	cursor: pointer;
}
