@use '@/app/ui/styles/helper';

.text {
	margin-top: 2rem;
	font-size: 1rem;
	font-size: clamp(1rem, 0.94rem + 0.30000000000000004vw, 1.3rem);
	color: helper.$title;
	text-align: center;
	line-height: 1.5;
	overflow-wrap: anywhere;
}

.link {
	color: helper.$accentColorDark;
	text-decoration: underline;
	cursor: pointer;
}
