$primaryColor: hsl(216, 13%, 31%);
$primaryColorDark: hsl(216, 13%, 27%);
$accentColor: hsl(24, 97%, 74%);
$accentColorDark: hsl(24, 50%, 65%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$red: hsl(359, 100%, 65%);
$silver: hsl(0, 0%, 74%);
$lightSilver: hsl(0, 5%, 89%);

$title: hsl(270, 4%, 27%);
$subtitle: hsl(270, 1%, 35%);
