@mixin transition($properties: all, $duration: 0.5s, $animationFunction: ease) {
	transition: $properties $duration $animationFunction;
	-webkit-transition: $properties $duration $animationFunction;
	-moz-transition: $properties $duration $animationFunction;
	-ms-transition: $properties $duration $animationFunction;
	-o-transition: $properties $duration $animationFunction;
}

@mixin borderRadius(
	$value1: 100%,
	$value2: $value1,
	$value3: $value1,
	$value4: $value1
) {
	border-radius: $value1 $value2 $value3 $value4;
	-webkit-border-radius: $value1 $value2 $value3 $value4;
	-moz-border-radius: $value1 $value2 $value3 $value4;
	-ms-border-radius: $value1 $value2 $value3 $value4;
	-o-border-radius: $value1 $value2 $value3 $value4;
}
