%container {
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 3rem;
}

@media (max-width: 64em) {
	.container {
		padding: 0 2rem;
	}
}

@media (max-width: 48em) {
	.container {
		padding: 0 1rem;
	}
}
