@use '@/app/ui/styles/helper';

.container {
	margin-bottom: 5rem;

	@extend %container;
}
.faq {
	&__title {
		color: helper.$title;
		font-size: 2.3rem;
		text-align: center;

		&::after {
			content: '';
			display: block;
			height: 0.25rem;
			width: 7rem;
			background-color: helper.$accentColor;
			margin: 1rem auto 2rem;
		}
	}

	&__description {
		color: helper.$subtitle;
		font-size: 1.1rem;
		text-align: center;
	}

	&__accordions {
		margin-top: 5rem;
		display: flex;
		flex-flow: column wrap;
		gap: 1.5rem;
	}
}
