@use '@/app/ui/styles/helper';

.tabs {
	display: flex;
	justify-content: center;
	margin: 0 1.5rem;

	&__item {
		text-align: center;
		font-size: 0.9rem;
		font-size: clamp(0.9rem, 0.88rem + 0.09999999999999998vw, 1rem);
		color: helper.$subtitle;
		padding: 1rem 2rem;
		border-bottom: 0.15rem solid helper.$white;
		cursor: pointer;

		@include helper.transition();

		&:hover {
			color: helper.$black;
		}

		&--active {
			border-color: helper.$accentColor;
		}
	}
}

@media (max-width: 48em) {
	.tabs {
		flex-wrap: wrap;

		&__item {
			padding: 1rem;
		}
	}
}
