@use '@/app/ui/styles/helper';

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1;
	margin: 2rem auto;

	@extend %container;
}

.view-document {
	&__title {
		font-size: 2rem;
		color: helper.$title;
		font-weight: 600;
		line-height: 1.5;
		margin-bottom: 2rem;
	}

	&__meta {
		font-size: 1rem;
		color: helper.$subtitle;
		margin: 1rem 0;
	}

	&__frame {
		display: block;
		margin: 3rem auto 0;
		max-width: 100%;
		width: 60rem;
		height: 60rem;
		border: none;
		outline: none;
		background: none;
	}
}
