@use '@/app/ui/styles/helper';

.card {
	display: flex;
	flex-direction: column;
	max-width: 25rem;
	width: 100%;
	box-shadow: 0 0 0.4rem helper.$lightSilver;
	overflow: hidden;
	cursor: pointer;

	@include helper.borderRadius(1rem);
	@include helper.transition();

	&:hover {
		box-shadow: 0 0 0.8rem helper.$lightSilver;
	}

	&__content-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem 1.2rem;
	}

	&__title-icon {
		font-size: 0.9rem;
		font-size: clamp(0.9rem, 0.88rem + 0.09999999999999998vw, 1rem);
		margin-right: 0.5rem;
	}

	&__title {
		font-size: 1rem;
		font-size: clamp(1rem, 0.96rem + 0.19999999999999996vw, 1.2rem);
		font-weight: 600;
		line-height: 1.5;
		color: helper.$title;
		overflow-wrap: anywhere;
	}

	&__bottom-container {
		display: flex;
		justify-content: space-between;
	}

	&__description {
		font-size: 0.9rem;
		line-height: 1.5;
		color: helper.$subtitle;
		margin-top: 1rem;
	}

	&__download {
		align-self: end;
		outline: none;
		background: none;
		border: none;
		font-size: 0.9rem;
		color: helper.$accentColor;
		cursor: pointer;

		@include helper.transition();

		&:hover {
			color: helper.$title;
		}
	}

	&__download-icon {
		padding-right: 0.5rem;
	}
}

@media (max-width: 26.5625em) {
	.card {
		&__content-container {
			padding: 0.8rem;
		}

		&__title {
			text-align: center;
		}

		&__bottom-container {
			display: block;
		}

		&__description {
			text-align: center;
		}

		&__download {
			display: block;
			margin: 1rem auto 0.5rem;
		}
	}
}
