@use '@/app/ui/styles/helper';

.topic-articles {
	&__title {
		font-size: 2rem;
		color: helper.$title;
		line-height: 1.5;
		margin-top: 1.5rem;

		&::after {
			content: '';
			display: block;
			height: 0.25rem;
			width: 7rem;
			background-color: helper.$accentColor;
			margin: 1rem 0 1.5rem 0;
		}
	}

	&__description {
		font-size: 1rem;
		color: helper.$subtitle;
		line-height: 1.5;
	}
}
