@use '@/app/ui/styles/helper';

.survey__back {
	font-size: 1rem;
	color: helper.$accentColor;
	background-color: helper.$primaryColor;
	padding: 1rem 2.5rem;
	font-family: inherit;
	font-weight: 600;
	border: 0.15rem solid helper.$primaryColorDark;
	box-shadow: 0 0 0.625rem helper.$lightSilver;
	outline: none;
	cursor: pointer;

	@include helper.borderRadius(2rem);
	@include helper.transition();

	&:hover {
		background-color: helper.$primaryColorDark;
	}
}
