@use '@/app/ui/styles/helper';

.search {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: helper.$lightSilver;
	padding: 1rem 1.5rem;
	border: 0.1rem solid helper.$silver;
	box-shadow: 0 0 0.625rem helper.$lightSilver;

	@include helper.transition();
	@include helper.borderRadius(2rem);

	&:hover,
	&:has(.search__input:focus) {
		border-color: helper.$primaryColor;
	}

	&__input {
		width: 100%;
		background: none;
		outline: none;
		border: none;
		font-family: inherit;
		font-size: 0.9rem;
		font-size: clamp(0.9rem, 0.88rem + 0.09999999999999998vw, 1rem);
		color: helper.$title;
	}

	&__icon {
		font-size: 1rem;
		color: helper.$primaryColor;
		cursor: pointer;

		@include helper.transition();

		&:hover {
			color: helper.$primaryColorDark;
		}
	}
}
