@use '@/app/ui/styles/helper';

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1;

	@extend %container;
}

.document-templates {
	&__filters {
		margin: 2rem 0;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
