@use '@/app/ui/styles/helper';

.accordions {
	&__loading {
		text-align: center;
		font-style: italic;
		color: helper.$subtitle;
		font-size: 1rem;
	}

	&__error {
		text-align: center;
		font-weight: bold;
		color: helper.$red;
		font-size: 1rem;
	}
}
